@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 65px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limite de largura */
  width: 100%; /* Ocupa toda a largura do container */
  margin: 0 auto; /* Centraliza o container */
  padding: 0 1rem; /* Padding padrão */
}

/* Ajuste para telas maiores */
@media (min-width: 1280px) {
  .navbar-container {
    max-width: 1280px; /* Limita a largura em telas grandes */
    padding: 0 2rem; /* Padding maior em telas maiores */
  }

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}
.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid rgb(46, 110, 102);
  transition: 0.2s;
}
.log-in:hover {
  background-color: rgb(64, 154, 117);
  color: rgb(46, 110, 102);
}
.log-in a {
  color: white;
  padding: 5px 10px;
  background-color: #40a475;
  border-radius: 5px;
  text-decoration: none;
}

.log-in a:hover {
  background-color: #358e64;
}

.menu-btn {
  font-size: 32px;
  color: rgb(46, 110, 102);
  display: none;
  cursor: pointer;
}

/* @media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
} */
@media (max-width: 768px) {

  
  /* Mostrar o ícone do menu hambúrguer */
  .hamburger-lines {
      display: flex;
  }

  /* Esconder o menu completo por padrão */
  .menu {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      flex-direction: column;
      background-color: #fff;
      text-align: center;
      display: none;
  }

  /* Mostrar o menu quando o checkbox estiver marcado */
  .menu-checkbox:checked + .hamburger-lines + .menu {
      display: flex;
  }

  .menu-links a {
      padding: 10px;
      display: block;
      margin: 10px 0;
  }

  .log-in {
      margin-top: 10px;
  }
}
/* SObre */
#welcome {
  padding: 50px 0;
  background: #f5f5f7;
}

.welcome-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#welcome h2 {
  font-size: 2.3rem;
}

#welcome p {
  font-size: 1.2rem;
  color: #555;
}

#welcome .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.welcome-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.welcome-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}
/* New Plans */
#plans {
  padding: 5rem 0 10rem 0;
}

#plans h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.plans-container {
  display: flex;
  justify-content: space-between;
}

.plans-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    height: 20px;
    width: 35px;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100dvh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: relative;
    align-items: center;
    top: 20px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .log-in {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid rgb(46, 110, 102);
    transition: 0.2s;
  }
  .log-in:hover {
    background-color: rgb(64, 154, 117);
    color: rgb(46, 110, 102);
  }
  .log-in a {
    color: white;
    padding: 5px 10px;
    background-color: #40a475;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .log-in a:hover {
    background-color: #358e64;
  }

}
  

:root {
    --primary: #4978F0;
    --primary-light: #E1EEF5;
    --secondary: #1D1D1D;
    --background: #F4F1FF;
    --text: #1F2346;
}

body {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, 
        sans-serif;
}

.socials-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row > a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 0.5rem;
    border: 1px solid 
        var(--primary-light);
    font-weight: 700;
}

.socials-row > a:hover {
    border: 1px solid 
        var(--primary);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background: var(--secondary);
    opacity: .2;
}

.login-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 0 auto;
}


.login-side {
    padding: 11.75rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.info-side {
    height: 100vh;
    padding: 5.25rem 3rem 3rem 2rem;
    color: #401B3D;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--background);
}

.info-side h2 {
    margin-top: 3rem;
    color: var(--text);
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.info-side p {
    font-size: 1.2rem;
}

.info-side img {
    max-width: 53.75rem;
}

.welcome-message {
    max-width: 22.5rem;
}

.logo {
    height: 3rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.my-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 28.75rem;
    width: 100%;
    padding: 3rem 2rem;
    height: fit-content;
    box-shadow: 
        rgba(100, 100, 111, 0.2)
        0rem 6px 26px 0rem;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
}

.login-welcome {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.my-form__button {
    background: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px 
    rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s 
    ease;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.125rem;
}

.my-form__signup a:hover {
    text-decoration: underline;
}

.text-field input {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 3.125rem;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
    margin-top: 0.5rem;
}

.text-field {
    position: relative;
}

.text-field img {
    position: absolute;
    right: -0.125rem;
    bottom: -0.25rem;
    width: 1.875rem;
    height: 1.875rem;
    transform: translate(
        -50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 0.0625rem solid 
        var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

@media (max-width: 640px) {
    .login-wrapper {
        grid-template-columns: 1fr;
        height: 100vh;
    }
    
    .info-side {
        flex-direction: column-reverse;
        padding: 3rem 3rem 3rem 2rem;
    }
}



  
